header {
  background-color: $mark-color;
  width: 100%;
  height: auto;
  display: block;
}

.main-background {
  background: url("../images/main-background.png") center no-repeat;
  position: relative;
  min-height: 600px;
  padding: 103px 0 100px;
}

.progress-bar {
  width: 100%;
  height: 3px;
  background: #d3d3d3;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.progress-bar:before {
  content: '';
  display: block;
  width: 75%;
  height: 3px;
  background: $mark-color;
}